version: "3.9"

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: bank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  auth-service:
    build: ./backend/auth-service
    container_name: auth-service

  account-service:
    build: ./backend/account-service
    container_name: account-service
    depends_on:
      - postgres

  transaction-service:
    build: ./backend/transaction-service
    container_name: transaction-service
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: frontend

  nginx:
    image: nginx:latest
    container_name: ingress-nginx
    volumes:
      - ./ingress/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - frontend
      - auth-service
      - account-service
      - transaction-service
