apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
spec:
  replicas: {{ .Values.account.replicas }}
  selector:
    matchLabels:
      app: account
  template:
    metadata:
      labels:
        app: account
    spec:
      containers:
        - name: account
          image: "{{ .Values.account.image.repository }}:{{ .Values.global.imageTag }}"
          ports:
            - containerPort: {{ .Values.account.port }}
