apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: {{ .Values.auth.replicas }}
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: {{ .Values.auth.image.repository }}:{{ .Values.global.imageTag }}
          ports:
            - containerPort: {{ .Values.auth.containerPort }}
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.auth.livenessProbe.port }}
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ .Values.auth.readinessProbe.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
