apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: {{ .Values.frontend.replicas }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: {{ .Values.frontend.image.repository }}:{{ .Values.global.imageTag }}
          ports:
            - containerPort: {{ .Values.frontend.containerPort }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.frontend.livenessProbe.port }}
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.frontend.readinessProbe.port }}
            initialDelaySeconds: 5
            periodSeconds: 5
