name: Build, Scan and Push to ECR

on:
  push:
    branches:
      - develop
  workflow_dispatch:

env:
  AWS_REGION: ap-south-1
  ECR_REGISTRY: 096803082838.dkr.ecr.ap-south-1.amazonaws.com
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - auth-service
          - account-service
          - transaction-service
          - frontend

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Configure AWS credentials (Secrets-based)
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # 3️⃣ Login to ECR
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # 4️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build \
            -t $ECR_REGISTRY/${{ matrix.service }}:${IMAGE_TAG} \
            ./${{ matrix.service }}

      # 5️⃣ Trivy security scan
      - name: Trivy image scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ env.ECR_REGISTRY }}/${{ matrix.service }}:${{ env.IMAGE_TAG }}
          severity: CRITICAL,HIGH
          exit-code: 1
          ignore-unfixed: true

      # 6️⃣ Push image to ECR
      - name: Push Docker image
        run: |
          docker push $ECR_REGISTRY/${{ matrix.service }}:${IMAGE_TAG}
